[Desktop Entry]
Name=vvave
Name[ca]=vvave
Name[ca@valencia]=vvave
Name[cs]=vvave
Name[da]=vvave
Name[de]=vvave
Name[en_GB]=vvave
Name[es]=vvave
Name[et]=vvave
Name[fr]=vvave
Name[gl]=vvave
Name[it]=vvave
Name[ko]=vvave
Name[nl]=vvave
Name[pl]=vvave
Name[pt]=vvave
Name[pt_BR]=vvave
Name[ru]=vvave
Name[sv]=vvave
Name[uk]=vvave
Name[x-test]=xxvvavexx
Name[zh_TW]=vvave
Comment=Play your music collection
Comment[ca]=Reprodueix la vostra col·lecció de música
Comment[ca@valencia]=Reprodueix la vostra col·lecció de música
Comment[cs]=Přehrávejte svou hudební sbírku
Comment[da]=Afspil din musiksamling
Comment[de]=Wiedergabe Ihrer Musik-Sammlung
Comment[en_GB]=Play your music collection
Comment[es]=Reproducir su colección de música
Comment[et]=Muusikakogu esitamine
Comment[fr]=Jouez votre collection musicale
Comment[gl]=Reproduza a súa colección de música.
Comment[it]=Riproduce la tua collezione musicale
Comment[ko]=내 음악 모음집 재생
Comment[nl]=Uw muziekcollectie afspelen
Comment[pl]=Odtwarza swój zbiór muzyki
Comment[pt]=Tocar a sua colecção de música
Comment[pt_BR]=Reproduza sua coleção de músicas
Comment[sk]=Prehrať vašu hudobnú kolekciu
Comment[sv]=Spela din musiksamling
Comment[uk]=Відтворення вашої музичної збірки
Comment[x-test]=xxPlay your music collectionxx
Comment[zh_TW]=播放您的音樂集合
TryExec=vvave
Exec=vvave %U
Terminal=false
Type=Application
Categories=Qt;Audio;Music;Player;AudioVideo;
StartupNotify=true
Icon=vvave
MimeType=application/ogg;application/x-ogg;application/sdp;application/smil;application/x-smil;application/streamingmedia;application/x-streamingmedia;application/vnd.rn-realmedia;application/vnd.rn-realmedia-vbr;audio/aac;audio/x-aac;audio/m4a;audio/x-m4a;audio/mp1;audio/x-mp1;audio/mp2;audio/x-mp2;audio/mp3;audio/x-mp3;audio/mpeg;audio/x-mpeg;audio/mpegurl;audio/x-mpegurl;audio/mpg;audio/x-mpg;audio/rn-mpeg;audio/ogg;audio/scpls;audio/x-scpls;audio/vnd.rn-realaudio;audio/wav;audio/x-pn-windows-pcm;audio/x-realaudio;audio/x-pn-realaudio;audio/x-ms-wma;audio/x-pls;audio/x-wav;audio/x-flac;audio/x-vorbis+ogg;audio/x-shorten;audio/x-ape;audio/x-wavpack;audio/x-tta;audio/AMR;audio/ac3;audio/flac;audio/mp4;
# Generic name with translations
GenericName=Audio Player
GenericName[ca]=Reproductor d'àudio
GenericName[ca@valencia]=Reproductor d'àudio
GenericName[cs]=Zvukový přehrávač
GenericName[da]=Lydafspiller
GenericName[de]=Audio-Wiedergabe
GenericName[en_GB]=Audio Player
GenericName[es]=Reproductor de sonido
GenericName[et]=Helimängija
GenericName[fr]=Lecteur audio
GenericName[gl]=Reprodutor de son
GenericName[it]=Lettore audio
GenericName[ko]=오디오 재생기
GenericName[nl]=Audiospeler
GenericName[pl]=Odtwarzacz muzyki
GenericName[pt]=Leitor de Áudio
GenericName[pt_BR]=Reprodutor de áudio
GenericName[sk]=Audio prehrávač
GenericName[sv]=Ljudspelare
GenericName[uk]=Аудіопрогравач
GenericName[x-test]=xxAudio Playerxx
GenericName[zh_TW]=音樂播放器
