Source: vvave-git
Section: sound
Priority: optional
Build-Depends: cmake (>= 3.5),
               debhelper (>= 9),
               extra-cmake-modules,
               qtbase5-dev,
               qtdeclarative5-dev,
               libqt5websockets5-dev,
               libqt5svg5-dev,
               libkf5i18n-dev,
               libkf5notifications-dev,
               libkf5config-dev,
               libkf5service-dev,
               libkf5kio-dev,
               qttools5-dev,
               qtwebengine5-dev,
               libtag1-dev,
               qtquickcontrols2-5-dev
Maintainer: kaimam <kaisfm@sohu.com>
Standards-Version: 3.9.6
Homepage: https://vvave.kde.org/
#Vcs-Git: https://anongit.neon.kde.org/extras/vvave
#Vcs-Browser: https://packaging.neon.kde.org/extras/vvave.git

Package: vvave-git
Architecture: any
Depends: libkf5i18n5,
         libkf5notifications5,
         qml-module-qtquick2,
         libqt5websockets5,
         libqt5webengine5,
         ${misc:Depends},
         ${shlibs:Depends}
Description: Tiny Qt Music Player to keep your favorite songs at hand
