Source: vvave 
Section: main
Priority: optional
Maintainer: Camilo <camilo@gmail.com>
Build-Depends: debhelper (>=9)
Standards-Version: 3.9.6
#Homepage: <insert the upstream URL, if relevant>
Vcs-Git: https://github.com/mauikit/vvave.git

Package: vvave
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, grub-common
Description: Music Player
